
.about {
    background: url('../pictures/crystal-carole-smile.jpg');
    background-size: contain;
    /* height: 100vh; */
    padding: 10px;
    color: rgb(131, 131, 131);
    text-shadow: 2px 2px 15px white;
    font-size: 20px;
}

.about__headline { 
    text-align: center;
    margin-bottom: 10px;
}

.about__container { 
    padding: 20px;
    padding-bottom: 20px;
}

.about__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.about__column {
    display: grid;
    max-width: 400px;
    height: auto;
    border: 1px dotted white;
    /* margin-top: 10px; */
    margin-bottom: 100px;
    padding: 10px;
    cursor: default;
    border-radius: 10px;
    padding-bottom: 10px;
    position: relative;
}
@media (max-width: 903) {
    .about__column {
        flex: 1 1 100%;
        max-width: 500px;
    }
}

.about__column:hover{
    color: rgb(66, 66, 66);
    background-color: rgba(255, 192, 203, 0.534); 
}

ul {
    list-style: circle;
}



/* .about__me1 {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.about__me2 {
    max-height: auto;
    max-width: auto;
    object-fit: contain;
    border-radius: 40px;
    padding: 20px;
} */

/* .about__me3 {
    max-height: 100%;
    max-width: 100%;
    border-radius: 40px;
}

.about__me4 {
    max-height: 100%;
    max-width: 100%;
    border-radius: 40px;
} */