
.about {
    background: url('./pictures/crystal-carole-smile.jpg');
    background-size: contain;
    padding: 20px;
    height: 100vh;
    color: white;
}

.about__headline { 
    text-align: center;
    margin-bottom: 20px;
}

.about__container { 
    /* margin: 40px; */
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.479);  */
    /* border-radius: 10px; */
    /* border: 1px solid white; */
    /* backdrop-filter: blur(5px); */
}

.about__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about__column {
    display: grid;
    width: 20%;
    height: 80%;
    border: 1px solid white;
    margin:10px;
    padding: 10px;
    /* border-radius: 50px; */
}

.about__column > ul {
    list-style: none;
}

/* .about__me1 {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.about__me2 {
    max-height: auto;
    max-width: auto;
    object-fit: contain;
    border-radius: 40px;
    padding: 20px;
} */

/* .about__me3 {
    max-height: 100%;
    max-width: 100%;
    border-radius: 40px;
}

.about__me4 {
    max-height: 100%;
    max-width: 100%;
    border-radius: 40px;
} */