
.about {
    background: url('./pictures/autumn-by-zhen-hu.jpg');
    background-size: contain;
    padding: 20px;
    height: 100vh;
}

.about__headline { 
    text-align: center;
    margin-bottom: 20px;
}

.about__container { 
    margin: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.479); 
    border-radius: 10px;
    border: 1px solid white;
}

.about__columns {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__column {
    display: grid;
    width: 40%;
    border: 1px solid white;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
}