
.main {
    background: url('./pictures/autumn-by-zhen-hu.jpg');
    background-size: contain;
    padding: 30px;
    padding-bottom: 80px;
    color: white;
}

.main__top-icon-div {
    display: flex;
    justify-content: flex-end;
}

.main__top-icon { 
    height: 80px;
    width: 80px;
    cursor: pointer;
}


