
.portfolio {
    background: url('./pictures/forest-by-connie-van-den-akker.jpg');
    background-size: contain;
    padding: 20px;
    color: white;
}

.portfolio__container { 
    backdrop-filter: blur(5px);
    margin: 40px;
    padding: 20px;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.479); 
    border-radius: 10px;
    border: 1px solid white;
}

.portfolio__headline {
    text-align: center;
    margin-bottom: 20px;
}

.portfolio__intro {
    font-size: 20px;
    margin: 50px;
}

.portfolio__project-container {
    padding: 10px;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project { 
    width: 25%;
    border: 1px solid white;
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.65);
}

.project__name {
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.project__image { 
    width: 90%;
    height: 96%;
    border-radius: 10px;
    border: 1px solid white;
}

a {
    text-decoration: none;
    color: white;
}

.project > p {
    padding: 7px;
    font-style: italic;
   
}

.project__icons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
}

.project-youtube-icon, 
.project-github-icon {
    object-fit: contain;
    width: 45px;
}

.portfolio__me4 {
    max-height: 100%;
    max-width: 100%;
}

.portfolio__image-form {
    display: flex;
}

.contact__form-div{
    width: 100%;
}

.contact__h {
    /* display: grid; */
    text-align: center;
    padding: 20px;
}

.contact__form {
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.contact__message {
    resize: none;
}

.contact__input, .contact__message {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
}

/* submit button */
.pageclip-form__submit {
    background-color: white;
    color: gray;
    width: 20%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}