
.rigamarole {
    height: 100vh;
    background: url('./pictures/bird-nonsense-mcgill-library.jpg');
    background-size: cover;
    padding: 20px;
    color: white;
}

.rigamarole__container {
    margin: 40px;
    padding: 20px;
}

.rigamarole__me1 {
    border-radius: 90px;

}